body{
  padding: 0;
  margin: 0;
}
.title{
  text-align: center;
  font-size: 90px;
  font-family: 'SBAggroB';
  color: black;
  margin-top: 60px;
}
h2{
  text-align: center;
  list-style-type: none;
  font-family: 'SBAggroB';
  font-size: 50px;
}
hr{
  width: 600px;
  margin-right: 10000px;
  
}

.describe{
  margin-top: 30px;
}

a{
  text-decoration: none;
  color:red;
}
a:hover{
  text-decoration: none;
  color:blue;
}